body{
   background: url('background.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center center;
   background-size: cover;
   margin: 0 !important;
   background-size: 100% cover!important;

} 

/*styling post buttons*/
.postButtons{
   background-color: yellow;
   color: black;
   padding: 10px;
   width: 120px;
   cursor: pointer;
   font-weight: 700;
   font-size: 90%;
   opacity: 0.9;
   margin: 30px 30px 30px 30px;
   font-family: sans-serif;
   text-decoration: none;
      
}
#postButtons{
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-top: 300px;
}
form{
   display: flex;
   flex-direction: column;
   justify-content: center;
   
}

input{
   width: 90%;
   padding: 12px;
   margin-left: 15px;
   margin-bottom: 20px;
   box-sizing: border-box;
   border: 0px;
   background: rgb(205, 225, 231);
   
}
label{
   font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: 15px;
  margin-bottom: 5px;
  font-size: 20px;
}

/*styling sign up modal*/
.modal_container{
   width: 100%;
   height: 100%;
   position: absolute;
   opacity: 0;
   background: rgba(222, 226, 226, 0.4);
   pointer-events: none;
}

.modal_container:target{
   opacity: 1;
   pointer-events: auto;
}

.modal{
   background: white;
   position: absolute;
   width: 350px;
   height: 500px;
   top: 0px;
   bottom: 0px;
   right: 0px;
   left: 0px;
   margin: auto;
   
}
.modal_heading{
   text-align: center;
   display: block;
   box-sizing: border-box;
   border-bottom: 1px solid;
   margin-bottom: 15px;
}

.signBtn{
   background: green;
   color: white;
   width: 90%;
   padding: 12px;
   margin: 10px;
}
.close{
   color: darkgray;
   position: absolute;
   text-decoration: none;
   right: 10px;
   top: 10px;
}
#nam{
   text-align: center;
   margin-bottom: 10px;
}

/*styling sign in modal*/
.modal_container2{
   width: 100%;
   height: 100%;
   position: absolute;
   opacity: 0;
   background: rgba(222, 226, 226, 0.4);
   pointer-events: none;
}
.modal_container2:target{
   opacity: 1;
   pointer-events: auto;
}

.modal2{
   background: white;
   position: absolute;
   width: 350px;
   height: 370px;
   top: 0px;
   bottom: 0px;
   right: 0px;
   left: 0px;
   margin: auto;
  
}

#modal_heading2{
   padding: 5px;
   text-align: center;
   box-sizing: border-box;
   display: block;
   border-bottom: 1px solid;
   margin-bottom: 20px;
}    

/*styling create post modal*/
.modal_container3{
   width: 100%;
   height: 100%;
   position: absolute;
   opacity: 0;
   background: rgba(222, 226, 226, 0.4);
   pointer-events: none;

}
.modal_container3:target{
   opacity: 1;
   pointer-events: auto;
}
.modal3{
   background: white;
   position: absolute;
   width: 1200px;
   height: 600px;
   top: 0px;
   bottom: 0px;
   right: 0px;
   left: 0px;
   margin: auto;

}
.modal_heading3{
   text-align: center;
   display: block;
   box-sizing: border-box;
   border-bottom: 1px solid;
   margin-bottom: 15px;

}
#createContent{
   width: 1000px;
   height: 300px;
   margin-left: 20px;
}
.createBtn{
   
      background: green;
      color: white;
      width: 200px;
      padding: 12px;
      margin: 10px;
      text-decoration: none;
      margin-left: 500px;
      margin-top: 30px;
  
}
